<!DOCTYPE html>
@model LibrarySystemManagement.Models.Books.BookFormViewModelWithCategories
@{
    ViewData["Title"] = "AddBook";
}
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

    @if (Model.Form != null && Model.Form.Id > 0)
    {
        <h2 style="text-align: right;">Update the book</h2>
    }

    else
    {
        <h2 style="text-align: right;">Add a new book</h2>
    }

    <div style="text-align: right;">


        <form asp-controller="Books" asp-action="@((Model.Form != null && Model.Form.Id > 0) ? "UpdateBook" : "AddBook")" method="post">
            <style>
                .validation-error {
                    color: red;
                }
            </style>

            <div style="margin-bottom: 10px;">
                <label asp-for="Form.Title"></label>
                <input asp-for="Form.Title" />
                <br />
                <span asp-validation-for="Form.Title" class="validation-error"></span>
            </div>
            <div style="margin-bottom: 10px;">
                <label asp-for="Form.Author"></label>
                <input asp-for="Form.Author" />
                <br />
                <span asp-validation-for="Form.Author" class="validation-error"></span>
            </div>
            <div style="margin-bottom: 10px;">
                <label asp-for="Form.CategoryId">Category</label>
                <select asp-for="Form.CategoryId" asp-items="Model.Categories"
                        style="width: 190px; height: 30px; overflow: auto;">
                    <option value="">Select a category</option>
                </select>
                <br />
                <span asp-validation-for="Form.CategoryId" class="validation-error"></span>
            </div>
            @if (Model.Form != null && Model.Form.Id > 0)
            {
                <input asp-for="Form.Id" type="hidden" />
                <button class="btn btn-outline-primary" type="submit">Update</button>
            }
            else
            {
                <button class="btn btn-outline-primary" type="submit">Save</button>
            }

        </form>

    </div>
</body>
</html>

