<!DOCTYPE html>
@model LibrarySystemManagement.Models.Reader
@{
    ViewData["Title"] = "AddRaeder";
}
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    @if (Model != null && Model.ID > 0)
    {
        <h2 style="text-align: right;">Update the reader</h2>
    }

    else
    {
        <h2 style="text-align: right;">Add a new reader</h2>
    }

    <div style="text-align: right;">


        <form asp-controller="Readers"
              asp-action="@((Model != null && Model.ID > 0) ? "UpdateReader" : "AddReader")"
              method="post">

            <style>
                .validation-error {
                    color: red;
                }
            </style>

            <div style="margin-bottom: 10px;">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <br />
                <span asp-validation-for="Name" class="validation-error"></span>
            </div>
            <div style="margin-bottom: 10px;">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <br />
                <span asp-validation-for="Email" class="validation-error"></span>
            </div>
            <div style="margin-bottom: 10px;">
                <label asp-for="RegistrationDate"></label>
                <input asp-for="RegistrationDate" />
                <br />
                <span asp-validation-for="RegistrationDate" class="validation-error"></span>
            </div>

            @if (Model != null && Model.ID > 0)
            {
                <input asp-for="ID" type="hidden" />
                <button class="btn btn-outline-primary" type="submit">Update</button>
            }
            else
            {
                <button class="btn btn-outline-primary" type="submit">Save</button>
            }

        </form>

    </div>
</body>
</html>
